/coordinate_mapping.json
/coordinate_system_visualization.jpg
/Literature.txt
/main_fast.py
/tracking_data.csv
/video_2.mp4
/40kmph.mp4
/50kmph.mp4
/__pycache__
/model.c4d
/world_coordinates.csv
/calculation_model_2points.py
/car.png
/car_1_transformed.csv
/car_2_transformed.csv
/car_6_transformed.csv
/coordinates_visualization.py
/example.mp4
/grid_overlay.jpg
/image_with_full_plane_grid.png
/image_with_grid_overlay.png
/simple_coordinates_mapping.py